.sheet-button {
	position: relative;
	width: 46px;
	height: 46px;

	background: rgb(245, 212, 207);
	border-radius: 7px;
	display: block;
}

.sheet-button:not(:last-child) {
	margin-right: 4px;
}

.sheet-button:hover {
	cursor: pointer;
}

.sheet-button > span {
	display: flex;
	flex-direction: column;
	padding: 0;

	position: absolute;
	width: 46px;
	height: 46px;
	left: 0;
	top: 0;
}

.sheet-button > span > span {
	position: static;
	height: 46px;
	left: 0;
	top: 0;

	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 35px;
	display: flex;
	align-items: center;
	text-align: center;

	color: rgb(161, 68, 78);

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0;
}

.sheet-button-row {
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	padding: 4px;

	position: relative;

	background: #754048;
	border-radius: 7px;
}

.row-lock {
	display: block;
	position: relative;
	width: 41px;
	height: 36px;
	left: 588px;
	top: 9px;

	/* Inside Auto Layout */

	flex: none;
	order: 2;
	align-self: center;
	margin: 0px 0px;
}

.row-lock:after {
	content: '';

	position: absolute;
	width: 6px;
	height: 6px;
	left: -6px;
	top: 15px;

	background: #754048;
}

.row-lock:before {
	content: '';

	position: absolute;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;

	background: #f5d4cf;
	border: 2px solid #754048;
	box-sizing: border-box;
	border-radius: 25px;
}

.lock {
	/* lock */

	position: relative;
	width: 36px;
	height: 36px;
}

.lock-symbol {
	position: absolute;
	width: 16px;
	height: 21px;
	left: 12.78px;
	top: 5.38px;

	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;

	color: rgb(161, 68, 78);

	transform: rotate(14deg);
}

.row {
	/* Frame 26 */

	/* Auto Layout */

	display: flex;
	flex-direction: row;
	padding: 0px;

	position: static;
	width: 629px;
	height: 54px;
	right: 5px;
	top: calc(50% - 54px / 2);

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 10px 0px;
}